<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask.SSE Geolocation Example</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
  <h1>Flask SSE Geolocation Example</h1>
  <div id="map" style="width: 100%; height: 400px"></div>
  <div id="data">Waiting for data...</div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const map = L.map('map').setView([45.825866, 16.043631], 13);  // Set initial coordinates to Zagreb
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      const marker = L.marker([45.825866, 16.043631]).addTo(map);    // Set initial marker position to Zagreb

      const receivedCoordinates = [];
      const trace = L.polyline([], {color: 'red'}).addTo(map);

      const source = new EventSource("/stream");
      source.onmessage = async function(event) {
        try {
          const data = JSON.parse(event.data);

          document.getElementById('data').innerHTML = 'Lat: ' + data.Lat.toFixed(4) + ', Lng: ' + data.Lng.toFixed(4);
          marker.setLatLng([data.Lat, data.Lng]);
          map.setView([data.Lat, data.Lng], map.getZoom());

          receivedCoordinates.push(L.latLng(data.Lat, data.Lng));
          trace.setLatLngs(receivedCoordinates);
        } catch (error) {
          console.error('Error parsing server-sent data:', error);
        }
      };
    });
  </script>
</body>
</html>
